body {
    background: beige;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;
}

#usersTitle {
    display: flex;
    justify-content: center;
}

.contentMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userBox {
    width: fit-content;
    text-align: center;
}

#btn {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;
}

.btn2 {
    border-radius: 10px;
    height: 20px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;
}

.postBox {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.postElement {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100px;
}