body {
    background: #80756c;
    color: white;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;
    font-size: 1.3em;
}

.title {
    display: flex;
    justify-content: center;
}

.postDetailsBox {
    margin: 10px;
    background: linear-gradient(45deg, #Bdb7b1, #Aba29b);
    padding: 10px;
    text-align: center;
}

.commentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.commentElement {
    width: 20%;
    margin: 10px;
    background: linear-gradient(45deg, #Bdb7b1, #Aba29b);
    padding: 10px;
    font-size: medium;
    text-align: center;
}
