body {
    background-image: url("/users/media/image3.jpg");
    color: white;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;
    font-size: 1.3em;
}

.title {
    display: flex;
    justify-content: center;
}

.postDetailsBox {
    margin: 10px;
    /*background: linear-gradient(45deg, #Bdb7b1, #Aba29b);*/
    padding: 10px;
    text-align: center;
    background: rgba(156, 146, 137, .5);

}

.commentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.commentElement {
    width: 22%;
    height: 200px;
    margin: 10px;
    /*background: linear-gradient(45deg, #Bdb7b1, #Aba29b);*/
    padding: 10px;
    font-size: medium;
    text-align: center;
    background: rgba(156, 146, 137, .5);

}

#go-back {
    background-color: rgba(197, 191, 186, .5);
    height: 30px;
    border-radius: 10px;
}