body {
    background: beige;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;
}

#usersTitle {
    display: flex;
    justify-content: center;
}

.usersBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: larger;
    height: 100%;
}

.userBlock {
    width: 40%;
    height: 100px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(45deg, #b6d6f1,#b5e2d8);
}

.btn {
    border-radius: 10px;
    width: 100px;
    height: 20px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;
}

.btn:hover {
    box-shadow: 5px 5px 15px blanchedalmond ;
}